
* {
  margin: 0;
  padding: 0;
}

#canvas {
  margin: 10px;
  background-color: black;
} 

.alien-text {
  margin: 10px;
  font-family: monospace,sans-serif;
  font: 14px sans-serif;
  color: #333;
}
